<%- include('parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
      <div class="col">
        <img  src="/uploads/<%= book.image%>">
      </div>
      <div class="col">
        <h1><%= book.title%></h1><h4><%= book.author%></h4>
        <samp><%= book.price%>$</samp>
        <p><%= book.description%></p>
      </div>
      
    </div>
  </div>
  <br>
<br>
<br>





<%- include('parts/bottom.ejs')%>